@use '../main';

.error {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 0.75;

    .status {
        animation: jump .6s;
    }

    .info {
        animation: jump .65s;
    }
}