@use '../main';

.error {
    display: inline;
    text-align: center;
    line-height: 0.75;
    gap: 5px;

    .status {
        animation: jump .6s;
    }

    .info {
        animation: jump .65s;
    }
}