@use '../main';

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 900px;

    .information {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        animation: jump .6s;
    }

    .divider {
        animation: jump .65s;
    }

    .contact {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        animation: jump .7s;

        .contact-info {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }
    }
}

@media (max-width: 900px) {
    .contact-details {
        width: 100%;

        .information, .divider, .contact {
            margin: 0 30px;
        }
    }
}

@media (max-width: 525px) {
    #app .contact-details {
        .contact-info {
            align-items: flex-start;
            flex-direction: column;

            .nav-divider {
                display: none;
            }
        }
    }
}