@use '../main';

.under-construction {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .header {
        text-align: left;
        animation: jump .6s;
    }

    .info {
        text-align: left;
        animation: jump .65s;
    }
}

@media (max-width: 900px) {
    #app .under-construction {
        align-items: flex-end;
        width: 100%;

        .header, .info {
            margin: 0 30px;
        }
    }
}