@use '../main';

.under-construction {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;

    .header {
        display: flex;
        align-items: flex-end;
        animation: jump .6s;
    }

    .info {
        animation: jump .65s;
    }
}