@use './fonts/montserrat.scss';

.theme-midnight-sea {
    --bg-base: #090A11;
    --bg-lighter: #131624;
    --bg-lightest: #2C3354;

    --text-base: #CFD6F7;

    --branding-accent: #9C91FC; 
}

html, body {
    margin: 0;
    overflow: hidden;
    background-color: var(--bg-base);
    color: var(--text-base);
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    font-display: swap;
}

a {
    color: var(--text-base);
    text-decoration: inherit;

    &.link:hover {
        color: var(--branding-accent);
        text-decoration: underline;
        text-decoration-color: var(--branding-accent);
    }
}

::selection {
    color: #000;
    background: var(--branding-accent);
}

svg {
    fill: var(--text-base) !important;
}

#app {
    width: 100%;
    height: 100%;
}

/**
 * TODO: Make this component properly work when the window is resized.
 */
.topbar {
    z-index: 1001;
    position: sticky;
    display: flex;
    justify-content: center;
    padding: 50px 125px;
    gap: 25px;
    top: 0;
    width: stretch;

    .site-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        .nav-item {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: font-weight 0.15s linear;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -10px;
                height: 4px;
                border-radius: 6px;
                transition: all 0.15s linear;
            }

            &:hover::after {
                width: 4px;
            }

            &:is(&:hover, &:active)::after {
                background-color: var(--text-base);
            }

            &.nav-active::after {
                width: 100%;
                background-color: var(--text-base);
            }
        }
    }
}

.nav-divider {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--bg-lightest);
}

.background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 75% -5%, var(--bg-lightest) 0%, var(--bg-lighter) 10%, rgba(0, 0, 0, 0) 50%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .background-blur {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(15px);
    }

    #mouse-shadow {
        position: absolute;
        transition: opacity 0.25s ease-in-out;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 2rem var(--bg-lightest);
        background-color: var(--bg-lightest);
        border-radius: 100%;
        pointer-events: none;
        opacity: 0;
    }

    .starry-sphere {
        position: absolute;
        animation: infinite star-rotate 30s linear;
        top: -600px;
        width: 2729px;
        height: 2729px;
        background: conic-gradient(from 0.38deg at 50% 50%, rgba(44, 51, 84, 0) 0deg, rgba(44, 51, 84, 0.05) 90deg, #2C3354 180deg, rgba(44, 51, 84, 0.05) 270deg, rgba(44, 51, 84, 0.207843) 360deg);
        -webkit-mask-image: url('/assets/starry-sphere.svg');
        mask-image: url('/assets/starry-sphere.svg');
        mask-repeat: no-repeat; 
    }
}

.foreground {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/noise.png');
    overflow: hidden;
}

.divider {
    width: stretch;
    height: 1px;
    background: linear-gradient(90deg, rgba(207, 214, 247, 0) 0%, #CFD6F7 50%, rgba(207, 214, 247, 0) 100%);
}

.montserrat-px-32 {
    font-size: 32px;
}

.montserrat-px-24 {
    font-size: 24px;
}

.montserrat-px-16 {
    font-size: 16px;
}

.montserrat-100 {
    font-weight: 100;
    letter-spacing: 0.10em;
}

.montserrat-200 {
    font-weight: 200;
    letter-spacing: 0.10em;
}

.montserrat-300 {
    font-weight: 300;
    letter-spacing: 0.10em;
}

.montserrat-400 {
    font-weight: 400;
    letter-spacing: 0.10em;
}

.montserrat-500 {
    font-weight: 500;
    letter-spacing: 0.10em;
}

.montserrat-600 {
    font-weight: 600;
    letter-spacing: 0.10em;
}

.montserrat-700 {
    font-weight: 700;
    letter-spacing: 0.10em;
}

.montserrat-800 {
    font-weight: 800;
    letter-spacing: 0.10em;
}

.montserrat-900 {
    font-weight: 900;
    letter-spacing: 0.10em;
}

@keyframes jump
{
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    50% {
        opacity: 1;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes jiggle
{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes star-rotate
{
    100% {
        transform: rotate(360deg);
    }
}